form(action="/delete",
    method="POST")
    table(class="table table-bordered")
        each val in rows
            tr
                td 
                    input(type="checkbox",name="wantToDelete["+val.id+"]")
                td=val.id
                td=val.name
    input(type="submit",
    value="delete",
    class="btn btn-info")
    button(type="button",
    onclick='location.href="/"',
    class="btn btn-primary") back