h1 #{user}
button(type="button",
onclick='location.href="/show"',
class="btn btn-success"
) show

button(type="button",
onclick='location.href="/delete"',
class="btn btn-primary"
) delete

button(type="button",
onclick='location.href="/insert"',
class="btn btn-danger"
) insert

button(type="button",
onclick='location.href="/update"',
class="btn btn-warning"
) update